alembic
blinker
click
Flask
Flask-Argon2
Flask-Bcrypt
Flask-JWT-Extended
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
flask-cors
Flask-WTF
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2
PyJWT
python-dotenv
supabase
stripe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp